<!doctype html>
<html>
<head>
</head>
<body>
hello world
<script src="{{ STATIC_URL }}scripts/jquery-1.9.1.min.js" type="Text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/csrfAjaxSetup.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
    $("body").append("==jquery loaded==");
    
    /*var data = {
                  title: "FUCK MY LIFE",
                  description: "why does every part of developing this thing "+
                               "have to be a goddamned ordeal",
                  timestamp: (new Date()).valueOf(), 
                  participants: [12345, 67890],
                  locations: [
                    {
                        lat: (Math.random()*2000)-1000,
                        lng: (Math.random()*2000)-1000,
                        link: "http://google.com",
                        friendly_name: "ugh"
                    }
                  ],
                  host: 777
               };
    $.ajax({
        url: 'create/event/',
        dataType: 'jsonp',
        type: 'get',
        data: data,
        success: function(data){
            console.log('success', data);
        },
        error: function(data){
            console.log('failure', data);
        }
    });*/
    
    
    var data = {
        uid: 777,
        first_name: "John",
        last_name: "Doe",
        prof_pic_url: "https://www.google.com/images/srpr/logo4w.png",
        // "https://www.google.com/webhp?hl=en&tab=ww",
        // "https://dsf-djangosnippets.s3.amazonaws.com/img/logo.gif",
        //"http://upload.wikimedia.org/wikipedia/commons/a/a9/Example.jpg",
        participating: [1],
        friends: [12345, 67890]
    };
    
    $.ajax({
        url: 'create/user/',
        dataType: 'jsonp',
        type: 'get',
        data: data,
        success: function(data){
            console.log('success', data);
        },
        error: function(data){
            console.log('failure', data);
        }
    });
    
    
});
</script>
</body>
</html>